@charset "utf-8";

html{font-size: 26.67vw;}

/*header*/
header{height: 0.44rem;background: #12b7f5;display: flex;justify-content: space-between;align-items: center;padding: 0 0.1rem;}
header h2{font-size: 24px;}
#portrait{width: 0.35rem;height: 0.35rem;}
#portrait i{font-size: 30px!important;}
#plus{width: 0.35rem;height: 0.35rem;}
#plus i{font-size: 30px!important;}

/*section*/
section{flex: 1;background: orange;}


/*footer*/
footer{height: 0.5rem;display: flex;justify-content: space-between;align-items: center;padding: 0 0.3rem;border-top: 0.005rem solid #000;}
footer div{display: flex;flex-direction: column;justify-content: center;align-items: center;}
footer div i{font-size: 28px!important;}



@media all and (max-width: 320px){body{font-size: 12px;}}
@media all and (min-width: 321px) and (max-width: 375px){body{font-size: 14px;}}
@media all and (min-width: 376px){body{font-size: 16px;}}
