@charset "utf-8";
html {
	font-size: 26.67vw;
}


/*隐藏的个人信息版块*/

#personal,
#setup {
	width: 70%;
	height: 100%;
	position: absolute;
	left: -2.63rem;
	top: 0;
	color: #40E0D0;
}

#personal {
	background: url(../images/background/personal.jpg);
	background-position-x: -1rem;
	background-size: cover;
	z-index: 32;
}

#setup {
	background: url(../images/background/background17.jpg);
	background-position-x: -2.5rem;
	background-size: cover;
	z-index: 33;
}

#personal h2,
h3 {
	font-size: 0.2rem;
	margin-top: 0.2rem;
}

#personal h2:nth-child(1) {
	font-size: 0.28rem;
	font-weight: 900;
}

#personal h3 {
	margin-top: 0.4rem;
	color: #fff;
}

#personal a {
	color: #fff;
	text-decoration: underline;
	float: right;
	margin-top: 0.25rem;
	font-size: 0.2rem;
}

#personal i {
	font-size: 0.3rem;
	position: absolute;
	bottom: 0.2rem;
	left: 0.2rem;
}

#setup label,
input,
h2 {
	font-size: 0.2rem;
}

#setup p {
	margin-top: 0.2rem;
}

#setup h4 {
	font-size: 0.28rem;
}

#setup h2 {
	margin-left: 35%;
	margin-top: 0.3rem;
	color: #f00;
}

#unregistered {
	position: absolute;
	left: 3%;
	bottom: 15%;
	z-index: 25;
	width: 90%;
	height: 50%;
	background: #666;
	display: none;
}

#unregistered h3 {
	font-size: 0.3rem;
	color: red;
	text-align: center;
}


/*header*/

header {
	height: 0.44rem;
	background: #12b7f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.3rem;
	z-index: 12;
}

header h2 {
	font-size: 0.2rem;
}

#portrait {
	width: 0.35rem;
	height: 0.35rem;
}

#portrait i {
	font-size: 30px!important;
}

#plus {
	width: 0.35rem;
	height: 0.35rem;
	position: relative;
}

#plus i {
	font-size: 30px!important;
}

#plusSmall {
	width: 0.6rem;
	height: 0.8rem;
	position: absolute;
	left: -0.45rem;
	top: 0.3rem;
	background: #DCDCDC;
	box-shadow: 2px 2px 2px 2px #666;
	display: none;
}

#plusSmall h4 {
	font-size: 0.15rem;
	padding-bottom: 0.1rem;
}


/*tab*/

#tab {
	flex: 1;
	overflow: auto;
	position: relative;
}

section {
	width: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}

.active {
	color: #00f;
}


/*banner*/

.banner {
	width: 100%;
	height: 1.8rem;
	border: 1px solid #ccc;
	position: relative;
	overflow: auto;
}

.banner ul {
	width: 1000%;
	height: 1.8rem;
	position: absolute;
	left: 0;
	top: 0;
}

.banner ul li {
	float: left;
	width: 3.75rem;
}

.banner ul li img {
	width: 100%;
	height: 1.8rem;
}

.banner ol {
	position: absolute;
	bottom: 0.05rem;
	left: 35%;
}

.banner ol li {
	float: left;
	width: 0.2rem;
	height: 0.2rem;
	transform: rotate(45deg);
	margin-right: 0.1rem;
	border: 2px solid #FFD700;
}

.banner ol li.current {
	background: #FFD700;
}


/*search*/

#search {
	height: 0.44rem;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

#search #searchbox {
	width: 3.6rem;
	height: 0.3rem;
	position: relative;
}

#search #searchbox i {
	position: absolute;
	left: 40%;
	top: 30%;
}

#search #searchbox input {
	width: 100%;
	height: 100%;
	border-radius: 0.05rem;
	background: #eeeff3;
	text-align: center;
}


/*qq*/

#qq {
	width: 2.5rem;
	height: 1.3rem;
	background: #fff;
	border-radius: 0.1rem;
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#qq p {
	font-size: 0.15rem;
	color: #666;
	font-family: "微软雅黑";
	line-height: 0.3rem;
}

#qq .message {
	width: 2.3rem;
	height: 0.6rem;
	border: 1px solid #000;
	font-size: 0.2rem;
	overflow: auto;
	outline: none;
}

#qq .but {
	width: 2.3rem;
	height: 0.3rem;
	position: relative;
}

#qq .but .bq {
	width: 0.3rem;
	height: 0.3rem;
	float: left;
}

#qq .but .qqsubmit {
	width: 0.6rem;
	height: 0.3rem;
	background: #ff8140;
	display: block;
	float: right;
	line-height: 0.3rem;
	text-align: center;
	border-radius: 0.05rem;
	font-family: "微软雅黑";
	font-size: 0.2rem;
}

#qq .but .face {
	width: 1.4rem;
	height: 2rem;
	background: #fff;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	padding: 0.02rem;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 4px #666;
	display: none;
}

#qq .but .face ul li {
	float: left;
	margin: 0.015rem;
}

#qq .but .face ul li img {
	width: 0.3rem;
	height: 0.3rem;
}

.msgCon {
	width: 3rem;
	height: 1.5rem;
	margin: 0 auto 5%;
}

.msgCon .msgBox {
	padding: 0.08rem;
	background: #fff;
	margin-top: 0.2rem;
}

.msgCon .msgBox dl {
	border-bottom: 1px dotted #aaa;
	height: 0.6rem;
}

.msgCon .msgBox dl dt {
	width: 0.6rem;
	height: 0.8rem;
	float: left;
}

.msgCon .msgBox dl dt img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.msgCon .msgBox dl dd {
	font-size: 0.2rem;
	font-family: "微软雅黑";
}

.msgCon .msgBox .msgTxt {
	font-size: 0.2rem;
	margin-top: 0.2rem;
	line-height: 0.2rem;
}

.nowtime {
	margin-left: 0.8rem;
	font-size: 0.16rem;
}


/*showBox*/

.showBox {
	padding: 0.2rem;
	width: 3rem;
	height: 3rem;
	background: #FFE4C4;
	position: fixed;
	top: 2rem;
	left: 0.38rem;
	display: none;
}

.showBox dl {
	border-bottom: 2px dotted #aaa;
	height: 1rem;
}

.showBox dl dt {
	width: 1rem;
	height: 1.3rem;
	float: left;
}

.showBox dl dt img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.showBox dl dd {
	font-size: 0.25rem;
	font-family: "微软雅黑";
}

.showBox .showTxt {
	font-size: 0.3rem;
	margin-top: 0.4rem;
}

.showtime {
	font-size: 0.2rem;
	margin-left: 1rem;
}



/*休闲养生模式*/

#news {
	width: 100%;
	height: 115%;
	position: absolute;
}

.newscont {
	width: 70%;
	height: 1.5rem;
	margin: 15%;
	color: #008B8B;
	font-size: 0.35rem;
	text-align: center;
}

#newslayer {
	width: 100%;
	height: 80%;
	position: fixed;
	left: 0;
	top: 10%;
	z-index: 10;
	display: none;
	font-size: 0.25rem;
	color: #000;
	text-indent: 0.4rem;
}

#newslayer .newstxt {
	padding-top: 0.3rem;
}

#newslayer .newstitle {
	font-size: 0.35rem;
	color: red;
	text-indent: 0;
	text-align: center;
}


/*缓压模式*/

.wrap {
	width: 3.5rem;
	height: 2.5rem;
	position: absolute;
	left: 0.15rem;
	background: #fff;
}

.wrap h2 {
	padding: 0.2rem;
	padding-left: 0;
	margin-left: 0.2rem;
	border-bottom: 1px dotted #666;
	font-size: 0.2rem;
}

.wrap h2 span {
	color: orange;
	margin-right: 0.1rem;
}

.wraptxt {
	font-size: 0.2rem;
	text-indent: 0.2rem;
}

#wraplayer {
	width: 100%;
	height: 320%;
	background: #fff;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.25rem;
	z-index: 20;
	text-indent: 0.2rem;
}

.wrap1 {
	top: 0.15rem;
}

.wrap2 {
	top: 2.8rem;
}

.wrap3 {
	top: 5.45rem;
}

.wrap4 {
	top: 8.15rem;
	margin-bottom: 0.2rem;
}


/*上班模式*/

#startwork {
	width: 1rem;
	height: 0.5rem;
	font-size: 0.2rem;
	color: #12b7f5;
	margin-left: 35%;
	margin-top: 72%;
	opacity: 0.7;
	position: absolute;
}

#layer {
	width: 100%;
	height: 100%;
	background: #ccc;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 20;
}

#loginpwd {
	margin-left: 0.2rem;
	margin-top: 50%;
}

#loginpwd h2 {
	font-size: 0.25rem;
	margin-bottom: 0.4rem;
}

#loginpwd input {
	width: 3rem;
	height: 0.3rem;
	font-size: 0.2rem;
	margin-bottom: 0.4rem;
}

#loginpwd button {
	width: 0.6rem;
	height: 0.3rem;
	font-size: 0.2rem;
	margin-left: 30%;
}

#mask {
	width: 2rem;
	height: 2rem;
	background: #666;
	position: fixed;
	left: 20%;
	top: 30%;
	display: none;
}

#mask h3 {
	font-size: 0.25rem;
	text-align: center;
	margin-top: 40%;
}


/*footer*/

footer {
	height: 0.5rem;
	background: #12b7f5;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 15;
}

footer div {
	margin-left: 0.4rem;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer div i {
	font-size: 30px!important;
}

@media all and (max-width: 320px) {
	body {
		font-size: 12px;
	}
}

@media all and (min-width: 321px) and (max-width: 375px) {
	body {
		font-size: 14px;
	}
}

@media all and (min-width: 376px) {
	body {
		font-size: 16px;
	}
}