@charset "utf-8";
html {
	font-size: 26.67vw;
}

img {
	width: 100%;
	height: 7rem;
	opacity: 0.4;
}

form {
	position: absolute;
	left: 0;
	top: 10%;
}

form p {
	margin-bottom: 0.2rem;
}

form p i {
	font-size: 0.3rem!important;
}

form p label {
	font-size: 0.25rem;
}

form p input {
	width: 1.7rem;
	height: 0.3rem;
	font-size: 0.2rem;
	border: 1px solid #000;
}

#male,
#female {
	width: 0.2rem;
	height: 0.2rem;
	margin-left: 0.2rem;
}

form p span {
	font-size: 0.25rem;
}

#s6 {
	font-size: 0.2rem;
	color: red;
	margin-left: 1.3rem;
	text-align: center;
}

#submit {
	font-size: 0.2rem;
	width: 1rem;
	margin-left: 1.5rem;
	border-radius: 0.2rem;
}

#uname {
	margin-left: 0.5rem;
}

#phone {
	margin-left: 0.25rem;
}

#uemail {
	margin-left: 0.25rem;
}

#pwd {
	margin-left: 0.5rem;
}

@media all and (max-width: 320px) {
	body {
		font-size: 12px;
	}
}

@media all and (min-width: 321px) and (max-width: 375px) {
	body {
		font-size: 14px;
	}
}

@media all and (min-width: 376px) {
	body {
		font-size: 16px;
	}
}